/* Main content */

.inline{
    width: 31%;
    margin: 6px;
    float: left;

}
.blok_1 {
    background-color: #DEE8E8;
    border: 3px solid rgb(81, 90, 81);

}

.obj1 {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30%;
}

.blok_1 a:hover {
    color: #430000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.blok_2 {
    width: 29%;
    background-color: rgb(168, 181, 184);
    border: 2px solid rgb(81, 90, 81);
    text-align: center;
}
.blok_3 {
    width: 96%;
    margin: 6px;
    background-color: rgb(168, 181, 184);
    border: 2px solid rgb(81, 90, 81);
    text-align: center;
}
}
table {
    border: 4px double #399;
}
td {
    background: #BFFFDD; /* Цвет фона */
    border: 1px solid #333; /* Граница вокруг ячеек */
    empty-cells: hide; /* Прячем пустые ячейки */
    padding: 4px; /* Поля в ячейках */
 }
.kes {
    border-spacing: 6+px 8px;
}
.st1{
    width: 18%;
}
.st2{
    width: 23%;
    font-size: 90%;
}
 .dgu_status_rab {
    background: #BFFFDD;
}

.dgu_status_res {
    background: #BFD6FF;
}
.dgu_status_avar{
    background: #FFBABA;
}
 .dgu_status_rem {
    background: #FFDDBF;
}


@media (max-width: 1220px) {
    .inline{
    width: 48%;}
    .blok_2 {
    width: 29%;}
}
@media (max-width: 900px) {
    .inline{
    width: 47%;}
    .blok_2 {
    width: 46%;}
}
@media (max-width: 768px) {
    .inline{
    width: 99%;}
    .blok_2 {
    width: 99%;}
}
