a {color: #000;}

.inline{
    width: 99%;
    margin: 6px;
    float: left;
}
.blok_1 {
    width: 99%;
    background-color: #DEE8E8;
    text-align: center;
    border: 2px solid rgb(81, 90, 81);

}

.blok_1 a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30%;
}

.blok_1 a:hover {
    color: #430000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
table {
    border: 4px double #123838;
    width: 99%;
    text-align: center;
}
td {
    background: #BFFFDD; /* Цвет фона */
    border: 1px solid #333; /* Граница вокруг ячеек */
    empty-cells: hide; /* Прячем пустые ячейки */
    padding: 4px; /* Поля в ячейках */
 }

 .dgu_status_rab {
    background: #BFFFDD;
}

.dgu_status_res {
    background: #BFD6FF;
}
.dgu_status_avar{
    background: #FFBABA;
}
 .dgu_status_rem {
    background: #FFDDBF;
}
.st1{ width: 7%;}
.st2{ width: 15%; font-size: 90%;}
.st3{ width:15%; font-size: 90%;}
.st4{ width: 10%; font-size: 90%;}
.st5{ width: 8%; font-size: 80%;}
.st6{ width: 30%; font-size: 80%;}

a:-webkit-any-link {
    color: #000;}